@import '../../general-styling.styles.scss';

.calculator {
  margin-top: 20px;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
   
    @media (min-width: $tablet-breakpoint) {
      width: 40vw;
      height: 50vh;
      border-radius: 10px;
      padding-bottom: 10px;
      border: 2px solid $greyColor;
    }

    @media (min-width: $desktop-breakpoint) {
      width: 25vw;
      height: 60vh;
    }

  }