@import '../../general-styling.styles.scss';

.keypad {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;

    @media (min-width: $tablet-breakpoint) {
      height: 50%;
    }

    @media (min-width: $desktop-breakpoint) {
      height: 70%;
    }

    .noBtn {
      background: white;
    }
  }