@import '../../general-styling.styles.scss';

.home {
    width: 90%;
    text-align: left;
    background-color: white;

    @media (min-width: $tablet-breakpoint) {
        width: 60%;
        padding: 0 20px;
        }

        .listDiv {
            padding-left: 20px;
        }
    
        .list {
            list-style: disc;
        }
}