@import './general-styling.styles.scss';

nav {
    color: black;
    display: flex;
    height: 60px;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;

    img {
        width: 80px;
        height:40px;
        padding-left: 10px;
    }

    ul{
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        width: 80%;
        
    }

    a {
        text-decoration: none;
        color: black;
    }
}